.og-preview {
  position: sticky;
  position: -webkit-sticky; /* Safari */
  top: 1em;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2em;
  margin-bottom: 1em;
  max-width: 438px;
  background: #fff;
  border: 1px solid #dddfe2;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.og-preview__image-container {
  position: relative;
  width: 100%;
  padding-bottom: 52.25%;
}

.og-preview__preview-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.og-preview__content-container {
  padding: 0.25em 0.75em 0.5em;
  background: #f2f3f5;
  border-top: 1px solid #dddfe2;
}

.og-preview__url {
  font-size: 0.625em;
  text-transform: uppercase;
  color: #5e6771;
}

.og-preview__preview-headline {
  margin: 0 0 0.25em 0;
  padding: 0;
  font-size: 1em;
  color: #1c212a;
}

.og-preview__preview-paragraph {
  margin: 0;
  padding: 0;
  font-size: 0.75em;
  color: #5e6771;
}