.google-preview {
  position: sticky;
  top: 1em;
  width: 100%;
  max-width: 480px;
  background: #fff;
  border: 1px solid #ccc;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.google-preview__content-container {
  padding: 1em;
}

.google-preview__headline {
  margin-top: 0;
  margin-bottom: 0.25em;
  font-size: 1.25em;
  font-weight: normal;
  color: #1a0dab;
}

.google-preview__paragraph {
  margin: 0;
  font-size: 0.875em;
  line-height: 1.3em;
  color: #3c4043;
}

.google-preview__url {
  display: block;
  margin-bottom: 0.5em;
  font-size: 0.875em;
  color: #006621;
}.open-graph-preview {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 438px;
  background: #fff;
  border: 1px solid #ccc;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.open-graph-preview__image-container {
  position: relative;
  width: 100%;
  padding-bottom: 52.25%;
}

.open-graph-preview__image-container:before {
  content: "Image Missing";
  color: #ddd;
  position: absolute;
  font-size: 2em;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
}

.open-graph-preview__preview-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.open-graph-preview__content-container {
  padding: 0.25em 0.75em 0.5em;
  background: #f2f3f5;
  border-top: 1px solid #dddfe2;
}

.open-graph-preview__url {
  font-size: 0.625em;
  text-transform: uppercase;
  color: #5e6771;
}

.open-graph-preview__preview-headline {
  margin: 0 0 0.25em 0;
  padding: 0;
  font-size: 1em;
  color: #1c212a;
}

.open-graph-preview__preview-paragraph {
  margin: 0;
  padding: 0;
  font-size: 0.75em;
  color: #5e6771;
}.twitter-cards {
}
.twitter-card {
  display: flex;
  width: 100%;
  margin-bottom: 1em;
  max-width: 438px;
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.3em;
  border: 1px solid #ccc;
  border-radius: 0.85714em;
  overflow: hidden;
}

.twitter-card--horizontal {
  flex-direction: column;
  max-width: 507px;
}

.twitter-card--horizontal .twitter-card__image {
  width: 100%;
  padding-bottom: 52.25%;
  border-bottom: 1px solid #e1e8ed;
  border-right: none;
}

.twitter-card__image {
  position: relative;
  width: 25%;
  padding-bottom: 25%;
  border-right: 1px solid #e1e8ed;
}

.twitter-card__image:before {
  content: "Image Missing";
  color: #ddd;
  position: absolute;
  font-size: 1em;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
}

.twitter-card--horizontal .twitter-card__image:before {
  font-size: 2em;
}

.twitter-card__preview-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.twitter-card__content-container {
  padding: 1em;
  width: 75%;
}

.twitter-card__preview-headline {
  margin-top: 0;
  margin-bottom: 0.33em;
  font-size: 1em;
}

.twitter-card__preview-paragraph {
  margin: 0;
  font-size: 0.875em;
}

.twitter-card__url {
  display: block;
  margin-top: 0.33em;
  margin-bottom: 0;
  padding: 0;
  font-size: 0.875em;
  color: #8899a6;
}